.ntd-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drinks-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ntd-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  gap: 20px;
}

.drinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.dName,
.aName {
  font-size: 25px;
  color: #b54214;
}

.drinks span,
.alcohols span {
  font-size: 16px;
}

.drink {
  display: flex;
  justify-content: space-between;
}

.dPrice,
.aPrice {
  color: #251e1c;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 37px;
  line-height: 38px;
}

.drink-recommend {
  width: 100%;
  background-color: #ffe6c3;
  padding: 10px;
  margin: 5px 0px;
  position: relative;
}

.drink-recommend p {
  font-size: 15px;
}

.drink-recommend::after {
  content: url(../../svg/bubble.svg);
  position: absolute;
  top: -5px;
  right: -5px;
  width: 90px;
  z-index: 10;
}
.drink-recommend::before {
  content: "おすすめ";
  position: absolute;
  top: 2px;
  right: 10px;
  z-index: 11;
  color: white;
}

.drink-recommend > .dName {
  line-height: 26px;
}

.drink-recommend .dPrice {
  text-align: right;
  line-height: 5px;
  margin-bottom: 10px;
}

.softDrink {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.noneAlcohol .dPrice {
  text-align: right;
}

.alcoholWrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  background: #fffcde;
  position: relative;
  overflow: hidden;
}

.alcoholWrapper h1 {
  display: none;
}

.alc-char {
  position: absolute;
  top: 50px;
  right: -20px;
}
.alcohols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.alcohol {
  text-decoration: none;
}

.alcJpWrapper {
  display: flex;
  justify-content: space-between;
}
.aNameJp {
  font-size: 22px;
}
.aNameJp span {
  font-size: 17px;
}

.alcJpWrapper .aPrice {
  margin-left: 26px;
}

.shaoxing-wine {
  width: 100%;
  height: 100%;
  background: white;
  padding: 10px 15px;
}

.shaoxing-wine .desc {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceLeft {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.priceRight {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}
