.ntComponent {
  height: 100%;
  width: 100%;
  background: url(../../images/blendImg.png), #6f2d37;
  background-blend-mode: multiply;
  background-repeat: repeat;
  overflow: hidden;
  z-index: 0;
}

.ntWrapper {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  flex-direction: column;
  gap: 30px;
}

.nightTime {
  position: absolute;
  top: 20px;
  right: 20px;
  left: auto;
  z-index: 3;
}

.nt-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}

.images ul {
  overflow: hidden;
  z-index: 2;
}

.image1 {
  position: absolute;
  top: -80px;
  left: -80px;
  width: 270px;
  height: 270px;
  opacity: 0.7;
}

.image2 {
  position: absolute;
  top: 220px;
  left: -80px;
  width: 200px;
  height: 200px;
  opacity: 0.7;
}

.image3 {
  position: absolute;
  top: 300px;
  right: -70px;
  width: 200px;
  height: 200px;
  opacity: 0.7;
}
.image4 {
  position: absolute;
  top: 700px;
  left: -80px;
  width: 250px;
  height: 250px;
  opacity: 0.7;
}
.image5 {
  position: absolute;
  top: 630px;
  right: -70px;
  width: 250px;
}
