.ntm-container {
  width: 100vw;
  height: 100%;
  background-color: #020202;
  overflow: hidden;
}

.ntm-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.ntm-wrapper > h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #fcef73;
  font-size: 23px;
  margin-bottom: 20px;
}

.ntMenu {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuLeft {
  width: 100vw;
  padding: 20px;
  position: relative;
}

.menuLeft > img {
  height: 100%;
  margin-left: -300px;
  margin-bottom: -80px;
}

.menuRight {
  width: 100vw;
  padding: 20px;
  position: relative;
}

.menuRight > img {
  height: 100%;
  margin-left: -100px;
  margin-bottom: -80px;
}

.price {
  /* position: absolute; */
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.price h2 {
  font-size: 40px;
}

.price p {
  font-size: 18px;
}

.price h3 {
  margin-top: -20px;
  font-size: 78px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #d20000;
}

.price > h3 > span {
  font-size: 34px;
}
.price > h3 > span rt {
  font-size: 13px;
}

.hard {
  display: flex;
  gap: 10px;
}

.hard > h4 {
  font-size: 25px;
}
